/*  whisker menu  */
#whiskermenu-button
{
	color: #1c2021;
	background-color: #e8dfc8;
	border-radius: 0px;
	margin-right: 3px;
}

/*  workspaces  */
#xfce-panel-toggle-button:checked
{
	color: #1c2021;
	border-bottom: 0px solid #e8dfc8;
	background-color: #e8dfc8;
	font-weight: bold;
	font-family: JetBrainsMono;
}

#xfce-panel-toggle-button
{
	background: none;
	color: #e8dfc8;
	border-radius: 0px;
	font-weight: bold;
	font-family: JetBrainsMono;
}


/*  tabs  */
.xfce4-panel .tasklist .toggle:checked
{
	background: #272727;
	border-radius: 0px;
	color: #e8dfc8;
	font-family: JetBrainsMono;
}
 .xfce4-panel .tasklist .toggle
 {
	background-color: #000000;
	color: #e8dfc8;
	border-bottom: 0px solid #a1acb0;
	border-radius: 0px;
	font-family: JetBrainsMono;
}

#xkb-21
{
	font-family: JetBrainsMono;
}

#genmon-12
{
	color: #b4bd26;
}

#genmon-11
{
	color: #b4bd26;
}

#clock-15 button
{
	color: #fc4935;
}

/* thunar */
/* .thunar .standard-view .view { background-color: #181818; }/1* main view *1/ */
/* .thunar grid paned grid  { background-color: #181818;}/1* status bar *1/ */
/* .thunar toolbar, .thunar toolbar entry  { background-color: #181818; }/1* toolbar *1/ */

/* .thunar .view { background-color: #181818;} */
/* .thunar .view:selected { background-color: #8aa89c; color: #181818; } */
.thunar > grid > toolbar * { -gtk-icon-transform: scale(0.6); }
.thunar { font-size: 17px }
