* {
    border: none;
    border-radius: 0;
    /* font-family: "JetBrainsMonoNLNerdFontMono"; */
    font-family: "IosevkaTermNerdFontMono";
    font-size: 13pt;
    min-height: 0;
}

window#waybar {
    background: #1d1f21;
    color: white;
    font-weight: bold;
}

tooltip {
  background: #1d1f21;
  border: 1px solid #327bd1;
}

tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: #1d1f21;
    color: white;
    font-weight: bold;
}

#workspaces button.focused {
    background: #333333;
    border-bottom: 2px solid #db930d;
}

#workspaces button.active {
    background: #333333;
    border-bottom: 2px solid #db930d;
}

#tray {
    margin-right: 5px;
}

#battery {
	padding-right: 10px;
    font-weight: 400;
}

#battery.charging {
	color: #98971a;
}

#battery.full {
	color: #98971a;
}

#battery.discharging {
	color: #d79921;
}

#battery.warning {
	color: #d79921;
}

#battery.critical {
	color: #cc241d;
}

#clock {
	padding-right: 10px;
    font-weight: 400;
}
